<div>
    Header
    <app-header></app-header>
</div>

<!-- to jest contener z listą czatów i czat panelem-->
<div>
    <!-- ważne użyć odpowiedniego tagu dla kolumny !!!! -->
    <!-- leva kolumna -->
    <div>
        <app-chat-list [chats]="chats"></app-chat-list>
    </div>

    <!-- prawa kolumna -->
    <!-- tutaj jest albo select chat albo chat-panel albo edit-chat -->
    <div>
        <router-outlet></router-outlet>
        <!-- <app-chat-panel></app-chat-panel> -->
        <!-- <app-edit-chat-settings></app-edit-chat-settings> -->
    </div>
</div>

