<div class="row">
    <div class="col">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <input formControlName="login" type="text" id="signin-login" placeholder="Login">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input formControlName="password" type="password" id="signin-pass" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" [disabled]="!signInForm.valid" type="submit" >Sign In</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p *ngIf="returnedError" (click)="clearError()">Error Code: {{ returnedError.num }} Error Description: {{ returnedError.message }} </p>
                </div>
            </div>
        </form>
    </div>
</div>
