*.class
*.log
TODO
./.idea
./ClientCliApp/.bsp
./ClientCliApp/.idea
./ClientCliApp/project
./ClientCliApp/target
./ClientCliApp/createClientImage
./ClientCliApp/logs

./KafkaStreamsChatAnalyser/.bsp
./KafkaStreamsChatAnalyser/.idea
./KafkaStreamsChatAnalyser/project
./KafkaStreamsChatAnalyser/target

./SparkStreamingAnalyser/.bsp
./SparkStreamingAnalyser/.idea
./SparkStreamingAnalyser/project
./SparkStreamingAnalyser/target

./kafka-broker/kafka-volume