*.class
*.log
TODO
/.idea
/.bsp
/project
/target

# ignore all jar files from this folder
/driver-jars/*


test

/back-end/generatedKey

/ClientCliApp/.bsp
/ClientCliApp/.idea
/ClientCliApp/project
/ClientCliApp/target
/ClientCliApp/createClientImage
/ClientCliApp/logs


/spark-graphx-analyser/.bsp
/spark-graphx-analyser/.idea
/spark-graphx-analyser/target
/spark-graphx-analyser/project/project
/spark-graphx-analyser/project/target


/kafka-streams-chat-analyser/.bsp
/kafka-streams-chat-analyser/.idea
/kafka-streams-chat-analyser/target
/kafka-streams-chat-analyser/project/project
/kafka-streams-chat-analyser/project/target

/spark-streaming-analyser/.bsp
/spark-streaming-analyser/.idea
/spark-streaming-analyser/target
/spark-streaming-analyser/project/project
/spark-streaming-analyser/project/target

/kafka-broker/kafka-volume


# copied from play .gitignore
/back-end/logs
/back-end/target
/back-end/.bsp
/back-end/.idea
/back-end/.idea_modules
/back-end/.classpath
/back-end/.project
/back-end/.settings
/back-end/RUNNING_PID
/back-end/TODO
/back-end/.gitignore



# copied from angular vscode project

# Compiled output
/web-app/dist
/web-app/tmp
/web-app/out-tsc
/web-app/bazel-out

# Node
/web-app/node_modules
/web-app/npm-debug.log
/web-app/yarn-error.log

# IDEs and editors
/web-app/.idea/
/web-app/.project
/web-app/.classpath
/web-app/.c9/
/web-app/*.launch
/web-app/.settings/
/web-app/*.sublime-workspace

# Visual Studio Code
/web-app/.vscode/*
/web-app/!.vscode/settings.json
/web-app/!.vscode/tasks.json
/web-app/!.vscode/launch.json
/web-app/!.vscode/extensions.json
/web-app/.history/*

# Miscellaneous
/web-app/.angular/cache
/web-app/.sass-cache/
/web-app/connect.lock
/web-app/coverage
/web-app/libpeerconnection.log
/web-app/testem.log
/web-app/typings
/web-app/.gitignore

# System files
/web-app/.DS_Store
/web-app/Thumbs.db