<div class="container text-center">


    <div class="row border-top border-1 border-dark  justify-content-center">
        <h1 class="mt-2 mb-4">
            <span class="badge rounded-pill text-bg-dark">Settings</span>
        </h1>
    </div>


    <div class="row">
        <div class="col">
            <h3>
                <span class="badge rounded-pill text-bg-dark">Session Duration and Zone</span>
            </h3>
            <form [formGroup]="settingsGroup" (ngSubmit)="saveSettings()">
                <h5>
                    <span class="badge rounded-pill text-bg-secondary border border-dark border-1">Session Duration</span>
                </h5>
                
                
                <input formControlName="sessionControl" type="number" min="1" max="15" placeholder=""> 
                (Minutes min: 1, max: 15)     
                
                <h5 class="mt-1 pt-1 border-top border-dark border-1">
                    <span class="badge rounded-pill text-bg-secondary border border-dark border-1">Zone</span>
                </h5>
                
                <select formControlName="zoneControl" > 
                    <option *ngIf="settings">{{ settings.zoneId }}</option>
                    <option *ngFor="let zone of zones">{{ zone }}</option>
                </select>
                <button class="btn btn-success border border-1 border-dark m-1" type="submit" [disabled]="!settingsGroup.valid">Save</button>
            </form>
        </div>
        
        <div class="col">
            <h3>
                <span class="badge rounded-pill text-bg-dark">Change Your Login</span>
            </h3>
            <form [formGroup]="loginFormGroup" (ngSubmit)="saveLogin()">
                <input formControlName="loginForm" type="text" placeholder="Your New Login"><br>
                <button class="btn btn-success border border-1 border-dark m-1" type="submit" [disabled]="!loginFormGroup.valid">Change</button>
            </form>

        </div>
        
        <div class="col">
            <h3>
                <span class="badge rounded-pill text-bg-dark">Change Your Password</span>
            </h3>
            <form [formGroup]="passGroup" (ngSubmit)="changePassword()">
                <input type="password" formControlName="old" placeholder="Your Old Password"><br>
                <input type="password" formControlName="neww" placeholder="Your New Password"><br>
                <button class="btn btn-success border border-1 border-dark m-1" type="submit" [disabled]="!passGroup.valid" >Change</button>
            </form>
        </div>
    </div>


    <div class="row mt-1 border-top border-dark border-1 justify-content-center">
        <div class="col mt-1">
            <button class="btn btn-secondary border border-1 border-dark" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">Back to Chats</button>
        </div>
    </div>
</div>
