<div>
    <h2>Edit account</h2>
    <!-- każda z rzeczy jest oddzielnym formularzem-->


    <!-- zmień login-->
    <h4>Change Your Login</h4>
    <div>
        <form [formGroup]="loginFormGroup" (ngSubmit)="saveLogin()">
            <input formControlName="loginForm" type="text" placeholder="Your New Login"><br>
            <button type="submit" [disabled]="!loginFormGroup.valid">Change</button>
        </form>
    </div>
    <p *ngIf="loginSuccessfullChanged">Login Successfully changed!!!</p>
    <p *ngIf="loginTaken">Login Taken, Try With Another One!!!</p>
    <p></p>


    <!-- zmień hasło -->
    <h4>Change Password</h4>
    <div>
        <form [formGroup]="passGroup" (ngSubmit)="changePassword()">
            <input formControlName="old" placeholder="Your Old Password"><br>
            <input formControlName="neww" placeholder="Your New Password"><br>
            <button type="submit" [disabled]="!passGroup.valid" >Change</button>
        </form>
    </div>
    <p *ngIf="passwordSuccessfullChanged">Password Successfully changed!!!</p>




    <!-- zmień długość sesji (w minutach default 15)-->
    <!-- nie krócej niż minuta i nie dłużej -->
    <h4>Change Session Duration.</h4>
    <div>
        <form [formGroup]="sessionGroup" (ngSubmit)="changeSessionTime()">
            <input formControlName="sessionControl" type="number" min="1" max="15" placeholder=""> (Minutes)     
            <button type="submit" [disabled]="!sessionGroup.valid">Save</button>
        </form>
        Max 15 min.
    </div>
    <p *ngIf="sessionSuccessfullChanged">Login Successfully changed!!!</p>


    <p> </p>


    <!-- tutaj wracamy do naszej strony -->
    <button routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">Back to Chats</button>
    
</div>
