<!-- 
<nav>
    <ul>
      <li><a routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">Test</a></li>
      <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
      <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
      <li><a routerLink="/websocket-component" routerLinkActive="active" ariaCurrentWhenActive="page">WebSocket Component</a></li>
    </ul>
</nav>
 -->
<!-- <app-foo></app-foo>  -->  
<router-outlet></router-outlet>

