<div class="row">
    <div class="col">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <input formControlName="login" type="text" id="signup-login" placeholder="Login">
                </div>            
            </div>
            <div class="row ">
                <div class="col">
                    <input formControlName="password" type="password" id="signup-pass" placeholder="Password">
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <button type="button" class="btn btn-primary" [disabled]="!signUpForm.valid" type="submit" >Sign Up</button>
                </div>            
            </div>
        </form>
    </div>
</div>        

