<p>foo chyba works!</p>
<div>
    <div *ngFor="let user of users$ | async">
        login: {{user.login}}, uuid: {{user.userId}}
    </div>
    <br>
    <button (click)="getUsers()">Get Users</button>
    <br>
    post message: {{ postMessage$ | async }}
    <br>
    <button (click)="postNothing()">post</button>
    <p>
        KSID: '{{ cookie }}'
    </p>
    <!-- <button (click)="generateCookie()">Generate cookie</button> -->
    <br>
    <!-- <button (click)="getKSID()">get cookie</button> -->
    <br>
    <button (click)="postUser()">send user post</button>
</div>
