<h1>Create Chat</h1>
<div>
    <form [formGroup]="chatForm">
        <input formControlName="chatName" type="text" id="chat-name" placeholder="Chat Name">
        <br>
        <!-- <label>Group Chat</label>
        <input formControlName="groupChat" type="checkbox" id="group-chat" value="false">
        <br> -->
        <p></p>
        <p *ngIf="selectedUsers.length == 0"> No User Selected</p>
        <p *ngIf="selectedUsers.length > 0">Selected Users:</p>
        <div *ngFor="let selected of selectedUsers">
            <div  >
                {{ selected.login + '    ' }}
                <button (click)="unselect(selected)">Unselect</button>
            </div>
        </div>
        <p></p>
        <button [disabled]="disableSubmitting" type="submit">Create Chat</button>
    </form>
    <button routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">Cancel</button>
</div>
<p></p>
<p></p>
<div>
    <form [formGroup]="searchUserForm" >
        <input formControlName="login" (keyup)="search()" type="text" id="find-user" placeholder="Find User">
        <!-- [disabled]="selectedUsers.length == 1" -->
        <!-- <button (click)="search()"></button> -->
    </form>
</div>
<p></p>
<div>
    Select found user:
    <p *ngIf="foundUsers.length == 0"> No User Found.</p>
    <div *ngFor="let found of foundUsers"  (click)="addToSelected(found)">
        <div  >
            {{ found.login }}
        </div>
    </div>
</div>

