<Configuration name="ConfigTest" status="ERROR" monitorInterval="5">
    <Properties>

        tutaj trzeba sprawdzić gdzie ten plik będzie generowany bo nie wszędzie będzie dostępny

        <Property name="filename">/var/logs/application.log</Property>
    </Properties>


    <ThresholdFilter level="trace"/>


    <Appenders>

        <SystemPropertyArbiter propertyName="env" propertyValue="dev">
            <Console name="Out">
                <PatternLayout pattern="%m%n"/>
            </Console>
            <File name="File" fileName="${filename}">
                <PatternLayout>
                    <pattern>%d %p %C{1.} [%t] %m%n</pattern>
                </PatternLayout>
            </File>
        </SystemPropertyArbiter>
        <SystemPropertyArbiter propertyName="env" propertyValue="prod">
            <Console name="Out">
                <PatternLayout pattern="%m%n"/>
            </Console>
            <File name="File" fileName="${filename}">
                <PatternLayout>
                    <pattern>%d %p %C{1.} [%t] %m%n</pattern>
                </PatternLayout>
            </File>
        </SystemPropertyArbiter>

    </Appenders>



    <Loggers>
        <Logger name="org.apache.logging.log4j.test1" level="debug" additivity="false">
            <ThreadContextMapFilter>
                <KeyValuePair key="test" value="123"/>
            </ThreadContextMapFilter>
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.apache.logging.log4j.test2" level="debug" additivity="false">
            <!-- to nie jest mi potrzebne -->
            <!-- <Property name="user">${sys:user.name}</Property>-->
            <AppenderRef ref="File">
                <ThreadContextMapFilter>
                    <KeyValuePair key="test" value="123"/>
                </ThreadContextMapFilter>
            </AppenderRef>
            <AppenderRef ref="STDOUT" level="error"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>


</Configuration>