
<div class="container ">
    <div *ngIf="me && message" class="row justify-content-end">
        <div class="col"> </div>
        
        <div class="col">
            <div class="card m-1 p-2 bg-primary text-bg-primary border border-3 border-dark" *ngIf="message">
                <div class="card-header">
                    {{ message.authorLogin }} 
                </div>
                <div class="card-body"> 
                    <p class="card-title"> {{ parseDate( message.serverTime ) }} </p> 
                    <p class="card-text">
                        {{ message.content }}
                    </p>
                </div>
            </div>    
        </div>
    </div>

    <div *ngIf="! me && message" class="row justify-content-start">
        <div class="col">
            <div class="card m-1 p-2 bg-primary text-bg-primary border border-3 border-dark" *ngIf="message">
                <div class="card-header">
                    {{ message.authorLogin }} 
                </div>
                <div class="card-body"> 
                    <p class="card-title"> {{ parseDate( message.serverTime ) }} </p> 
                    <p class="card-text">
                        {{ message.content }}
                    </p>
                </div>
            </div>
        </div>    
        <div class="col "> </div>
    </div>
    
</div>






