<div>
    <h3>Edit chat</h3>
    <p></p>
    <form [formGroup]="chatSettings" (ngSubmit)="saveChanges()">
        Set new chat name:
        <input type="text" formControlName="newChatName" id="chat-name">
        <p></p>
        <label>Silent Chat</label>
        <input type="checkbox" formControlName="silent">
        <p></p>
        <button type="submit">Save Changes</button>
    </form>
</div>
<p *ngIf="responseMessage" (click)="clearNotification()"> {{ responseMessage }}</p>


<p></p>

<div *ngIf="chatData && chatData.chat.groupChat">
    <button  (click)="leaveChat()">Leave Chat</button>
    Watch out! This operation cannot be undo.
</div>
<p></p>
<div>
    <button (click)="backToChat()">Back to Chat</button>
</div>

