<!-- w tym componentcie przetwarzamy podstawewe informacje oc zacie-->
<!-- w zależności od tego czy jest przeczytana czy nie to styl powinien być inny. -->
<div *ngIf="chatData" >
    <h3 *ngIf="chatData.isNew">(NEW CHAT)</h3>
    <h3>{{ chatData.chat.chatName }}</h3>
    <h2 *ngIf="chatData.unreadMessages.length > 0">({{ chatData.unreadMessages.length }}) New Messages</h2>
    <!-- <div>
        Last Message: {{ chatData.chat.lastMessageTime }}   
       Last Message: {{ messageDate }}  
    </div> -->
    <div *ngIf="wrt && print(wrt)">
        {{ wrt.writerLogin }} is writing...
    </div>
    <div>
        Last Message: {{ calculateDate(chatData.chat.lastMessageTime) }}  
     </div>
</div>
