<div class="row" id="chat" style=" border: 2px solid magenta; background-color: gainsboro;">
    <div class="col-3 align-self-start" >
        <app-chat-list [chats]="chats"></app-chat-list>
    </div>
    <div class="col-9 align-self-start " id="chat_panel" style="border: 4px solid red;">
        <div class="container-fluid ">
            <router-outlet></router-outlet>
        </div>                
    </div>
</div>


<!-- 


<div class="col">
    <div class="row  ">
        <div class="col-3 align-self-start " style="border: 4px solid green;">
            <app-chat-list [chats]="chats"></app-chat-list>
        </div>
        <div class="col-9 align-self-start " style="border: 4px solid magenta;">
            <router-outlet></router-outlet> 
        </div>    
    </div>    
</div>


-->